<% include ../layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">

      <% for (var i = 0; i < posts.length; i++) { %>
        <div class="post">
          <div class="top">
            <h2>
              <a href="/posts/<%=posts[i].url %>">
                <%=posts[i].title %>
              </a>
            </h2>
          </div>
          <div class="body">
            <!-- С помощью этой функции загружаемые в посте картинки
            не удаляются со страницы при ее обновлении
            Не забываем про populate модели -->
              <%-posts[i].body %>

          </div>
          <div class="bottom">
            <div class="author">

            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
      <% } %>

      <div class="pagination">
        <% if (current > 2) { %>
          <a href="/users/<%=_user.login %>/<%= Number(current) - 1%>" class="new">← К новым </a>
        <% } %>

        <% if (current == 2) { %>
          <a href="/" class="new">← На первую </a>
        <% } %>

        <% if (pages > 0 && current < pages) { %>
          <a href="/users/<%=_user.login %>/<%= Number(current) + 1%>" class="old">К старым →</a>
        <% } %>
      </div>

    </div>

    <% include ../layout/sidebar.ejs %>

  </div>
</div>

<% include ../layout/footer.ejs %>
